---
import IconSearch from "@components/Icons/astro/IconSearch.astro";
import { getLanguageFromURL } from "@i18n/locales";

const currentLang = getLanguageFromURL(Astro.url.pathname);
---

<a
  class="sidebar-search flex items-center border-b-[1px] border-icon-neutral pb-[9px] ml-6 mb-16 min-h-[28px] bg-secondary text-[15px] w-full max-w-[210px] text-icon-neutral hover:no-underline hover:outline-0"
  href={`/${currentLang}/search`}
>
  <div>
    <IconSearch />
  </div>Find anything
</a>
