---
import AudienceDropdown from "../../AudienceDropdown";
import AdjustLogo from "@components/Icons/astro/AdjustLogo.astro";

interface SidebarHeaderProps {
  homeUrl: string;
}

const { homeUrl } = Astro.props as SidebarHeaderProps;
---

<div
  class="flex flex-row items-center mb-[74px] pt-7 pl-[27px] sidebar-open:justify-center sidebar-open:mb-5 sidebar-open:pt-[6px] sidebar-open:pl-0"
>
  <a href={homeUrl} title="Back to homepage">
    <AdjustLogo />
  </a>
  <AudienceDropdown client:load />
</div>
