---
import AudienceDropdown from "../../AudienceDropdown";
import AdjustLogo from "@components/Icons/astro/AdjustLogo.astro";
import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

interface Props {
  homeUrl: string;
  lang: string;
}

const { homeUrl, lang } = Astro.props;

const t = useTranslations(lang as keyof Locales);
---

<div
  class="flex flex-row items-center mb-[74px] pt-7 pl-[27px] sidebar-open:justify-center sidebar-open:mb-5 sidebar-open:pt-[6px] sidebar-open:pl-0"
>
  <a href={homeUrl} title={t("header.adjust-logo-link-label")}>
    <AdjustLogo />
  </a>
  <AudienceDropdown client:load lang={lang} />
</div>
