---
import AudienceDropdown from "../../AudienceDropdown";
import AdjustLogo from "@components/Icons/astro/AdjustLogo.astro";

interface SidebarHeaderProps {
  homeUrl: string;
}

const { homeUrl } = Astro.props as SidebarHeaderProps;
---

<div class="sidebar-header flex flex-row items-center mb-[74px] pt-7 pl-[27px]">
  <a href={homeUrl}>
    <AdjustLogo />
  </a>
  <AudienceDropdown client:load />
</div>
