.header_audience {
  &:hover {
    text-decoration: none;

    &.item-marketer {
      background-color: #769ff6 !important;
    }
    &.item-partner {
      background-color: #01b89c !important;
    }
    &.item-classic {
      background-color: #d5dae5 !important;
    }
  }
  &:active {
    text-decoration: none;

    &.item-marketer {
      background-color: #e0eaff !important;
    }
    &.item-partner {
      background-color: #d9ffef !important;
    }
    &.item-classic {
      background-color: #e6ebf6 !important;
    }
  }
  &:focus {
    text-decoration: none;
  }
}
