repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: https://github.com/crate-ci/typos
    rev: v1.14.11
    hooks:
      - id: typos
- repo: https://github.com/errata-ai/vale
  rev: v2.26.0
  hooks:
    - id: vale
