---
export interface Props {
  bottom?: number;
  left?: number;
  right?: number;
  top?: number;
}

const {
  bottom = "24",
  left = "0",
  right = "0",
  top = "-16",
} = Astro.props as Props;
---

<div
  class="text-[#888] text-sm"
  style={{
    marginBottom: bottom,
    marginLeft: left,
    marginRight: right,
    marginTop: top,
  }}
>
  <slot />
</div>
