---
import Caption from "@components/FigmaEmbed/Caption.astro";

interface Props {
  embedUrl: string;
  caption?: string;
}

const { embedUrl } = Astro.props;

const width = 800;
const height = 360;

const figmaIframePadding = 96;

const aspectRatio = ((+height + figmaIframePadding) / width) * 100 + "%";

const src = `https://www.figma.com/embed?embed_host=share&url=${embedUrl}`;
---

<>
  <div class="relative min-w-[120px]" style={{ paddingTop: aspectRatio }}>
    <iframe
      class="absolute top-0 left-0 bottom-0 w-full h-full overflow-hidden border border-solid border-neutral-30 rounded-lg"
      src={src}
      allowfullscreen></iframe>
  </div>
  {
    Astro.slots.has("default") && (
      <Caption>
        <slot />
      </Caption>
    )
  }
</>
