---
import ContactSupportButton from "./ContactSupportButton/index.astro";

import type { ContactSupportBlockProps } from "./types";

const { language } = Astro.props as ContactSupportBlockProps;
---

<div
  class="sm:h-20 xs:py-4 sm:py-0 bg--light rounded-lg flex xs:flex-col sm:flex-row justify-center items-center"
>
  Can't find what you're looking for?<ContactSupportButton
    language={language}
  />
</div>
