---
import type { MarkdownHeading } from "astro";
import TableOfContents from "./TableOfContents";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<nav class="w-full p-5" aria-labelledby="toc-right">
  <div class="h-full p-0 overflow-auto xs:hidden lg:block">
    <TableOfContents client:visible headings={headings} />
  </div>
</nav>
