#search-results .search li a[href*="unity"]::before {
  content: "Unity";
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="ios"]::before {
  content: "iOS";
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="web"]::before {
  content: "Web";
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="android"]::before {
  content: "Android";
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="react-native"]::before {
  content: "React Native";
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

/** Tippy configuration **/

.tippy-box {
  background-color: var(--color-background-primary);
  color: var(--color-foreground-primary);
  border: 1px solid var(--color-card-border);
  max-width: fit-content !important;
}

/** Icon SVG configuration **/

img.card-icon {
  width: 3em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.card-icon > svg > path {
  font-weight: 400;
}

@media not print {
  body[data-theme="dark"] img.card-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
      brightness(103%) contrast(103%) opacity(0.8);
  }
}

@media (prefers-color-scheme: dark) {
  @media not print {
    body[data-theme="auto"] img.card-icon {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
        brightness(103%) contrast(103%) opacity(0.8);
    }
  }
}
