#search-results .search li a[href*="unity"]::before
{
  content: "Unity";
  display: inline-block;
  padding: .35em .65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="ios"]::before
{
  content: "iOS";
  display: inline-block;
  padding: .35em .65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="web"]::before
{
  content: "Web";
  display: inline-block;
  padding: .35em .65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

#search-results .search li a[href*="android"]::before
{
  content: "Android";
  display: inline-block;
  padding: .35em .65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: var(--sd-color-primary) !important;
  color: var(--sd-color-primary-text) !important;
  margin-right: 0.5em;
}

/** Tippy configuration **/

.tippy-box {
  background-color: #eeffcc;
  color:var(--sd-color-black);
  border: 1px solid var(--sd-color-black);
  max-width: fit-content !important;
}
