---
import classNames from "classnames";

import { getCurrentPage } from "@utils/helpers/navigation/getCurrentPage";

import type { NavigationData } from "src/utils/helpers/navigation/types";

import "./breadcrumbs.css";

interface BreadcrumbsProps {
  breadcrumbs: NavigationData["breadcrumbs"];
}

const { breadcrumbs } = Astro.props as BreadcrumbsProps;
const currentPage = getCurrentPage(Astro.url.pathname);
---

<div aria-label="breadcrumbs" class="mb-8">
  <nav>
    <ul class="flex flex-row flex-wrap gap-x-6">
      {
        breadcrumbs.map((breadcrumb, i) => (
          <li
            class={classNames(" relative", {
              "breadcrumbs-item":
                breadcrumbs.length > 1 && i !== breadcrumbs.length - 1,
            })}
          >
            <a
              class={classNames("cursor-pointer  text-sm", {
                "text-black font-semibold": currentPage === breadcrumb.url,
                "text-secondary font-medium": currentPage !== breadcrumb.url,
              })}
              href={breadcrumb.url}
            >
              {breadcrumb.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
