---
import classNames from "classnames";

import { getCurrentPage } from "@utils/helpers/navigation/getCurrentPage";

import type { NavigationData } from "src/utils/helpers/navigation/types";

import "./breadcrumbs.css";

interface BreadcrumbsProps {
  breadcrumbs: NavigationData["breadcrumbs"];
  withMargin?: boolean;
}

const { breadcrumbs, withMargin = true } = Astro.props as BreadcrumbsProps;
const currentPage = getCurrentPage(Astro.url.pathname)?.slice(1);
---

<div
  aria-label="breadcrumbs"
  class={classNames({ "mb-8": withMargin, "mb-0": !withMargin })}
>
  <nav>
    <ul class="flex flex-row flex-wrap gap-x-6">
      {
        breadcrumbs.map((breadcrumb, i) => (
          <li
            class={classNames(" relative", {
              "breadcrumbs-item":
                breadcrumbs.length > 1 && i !== breadcrumbs.length - 1,
            })}
          >
            <a
              class={classNames(
                "cursor-pointer  text-sm hover:text-link-active",
                {
                  "text-black font-semibold": currentPage === breadcrumb.url,
                  "text-secondary font-medium": currentPage !== breadcrumb.url,
                }
              )}
              href={`/${breadcrumb.url}`}
            >
              {breadcrumb.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
