---
import classNames from "classnames";
import { getCurrentPage } from "@utils/helpers/navigation/getCurrentPage";
import { getBreadcrumbs } from "@utils/getBreadcrumbs";
import { Languages } from "@utils/types";

interface Props {
  lang: string;
}

const { lang } = Astro.props;

const currentPage = getCurrentPage(Astro.url.pathname)?.slice(1);
const breadcrumbs = getBreadcrumbs(currentPage);
---

<div aria-label="breadcrumbs" class="xs:px-8 lg:pr-4 lg:pl-12 mb-8">
  <nav>
    <ul class="flex flex-row flex-wrap gap-x-6 list-none p-0">
      {
        breadcrumbs.map((breadcrumb, i) => (
          <li
            class={classNames("relative leading-none", {
              "breadcrumbs-item":
                breadcrumbs.length > 1 && i !== breadcrumbs.length - 1,
            })}
          >
            <a
              class={classNames(
                "cursor-pointer text-sm hover:text-link-active",
                {
                  "text-black font-semibold": currentPage === breadcrumb.url,
                  "text-secondary font-medium": currentPage !== breadcrumb.url,
                },
              )}
              href={`/${breadcrumb.url}`}
            >
              {breadcrumb.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style>
  .breadcrumbs-item::after {
    @apply absolute content-["\2022"] font-medium -top-[5px] -right-4 text-xl;
  }
</style>
