* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/TTNormsPro-Light.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TTNormsPro-Regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/TTNormsPro-Bold.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/TTNormsPro-Medium.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/IBMPlexMono-Italic.woff2") format("woff2");
  font-display: swap;
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}

body {
  @apply flex flex-col min-h-screen text-base leading-6 max-w-full selection:text-blue selection:bg-selection;
}

/* Headers */

.article-content > h1 {
  @apply text-heading-1 max-w-[40ch] mb-4 font-bold leading-[1];
}

.article-content h2:not([class^="Banner__"]) {
  @apply text-heading-2 text-black max-w-[40ch] mb-4 font-bold leading-[1] not-first:mt-1;
}

.article-content h2 svg {
  @apply text-heading-2 text-black max-w-[40ch] mb-4 font-bold leading-[1] mt-1 ml-1 inline-block;
}

.article-content h3 {
  @apply text-heading-3 text-black mb-4 font-bold leading-[1];
}

.article-content h3 svg {
  @apply text-heading-3 text-black mb-4 font-bold leading-[1] mt-2 ml-1 inline-block;
}

.article-content h4 {
  @apply text-heading-4 text-black mb-4 font-bold;
}

.article-content h4 svg {
  @apply text-heading-4 text-black mt-3 mb-4 font-bold ml-1 inline-block;
}

.article-content h5 {
  @apply text-heading-5 text-black mb-4 font-bold;
}

.article-content h5 svg {
  @apply text-heading-5 text-black mt-8 mb-4 font-bold ml-1 inline-block;
}

.article-content .copy-link {
  @apply md:invisible;
}

.article-content h2:hover > .copy-link,
.article-content h3:hover > .copy-link,
.article-content h4:hover > .copy-link,
.article-content h5:hover > .copy-link {
  @apply md:visible;
}

/* Typography */

.article-content p {
  @apply mb-4 leading-[1.65em];
}

.article-content :is(div[role="table"]) p {
  @apply mb-0;
}

.article-content a {
  @apply text-inherit text-link-active font-link items-center underline-offset-2;
}

bold {
  @apply font-semibold text-inherit;
}

blockquote {
  @apply my-8 py-5 px-6 leading-[1.7] rounded-[0_0.25rem_0.25rem_0] bg-quote border-l-[3px] border-l-gray-40;
}

/* Lists */

.article-content ol {
  @apply list-decimal list-inside;
}

.article-content ul {
  @apply list-disc list-inside;
}

.article-content :is(ul, ol) > * {
  @apply mt-3 pl-4;
}

.article-content :is(li[role="tab"]) {
  @apply pl-0;
}

.article-content ol li {
  @apply marker:text-base marker:font-semibold marker:leading-5 last:pb-4;
}

.article-content ul li:not(li[role="tab"]) {
  @apply marker:text-base marker:font-semibold last:pb-4;
}

.article-content li > :is(p, pre, blockquote) {
  @apply inline;
}

.article-content li > .expressive-code {
  @apply pt-7;
}

.article-content li > :is(p, pre, blockquote):not(:first-child) {
  @apply mt-4 block;
}

code {
  @apply text-sm bg-code rounded-md px-1 py-[0.1rem] break-words;
}

.article-content iframe {
  @apply w-full h-auto aspect-video;
}

/* Links */

a > code {
  @apply relative bg-transparent underline-offset-2 text-gray-30 before:content-none before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0 before:block before:bg-blue before:opacity-15 before:rounded-[3px];
}

a {
  @apply hover:underline focus:underline focus:outline-2 focus:outline focus:outline-current focus:outline-offset-[0.25em];
}

/* Nav items */

.article-content nav {
  @apply mt-4 mb-8;
}

.article-content nav :is(ul, ol) {
  @apply list-none [&li]:relative pl-[inherit];
}

.article-content nav :is(ul, ol) > * {
  @apply mt-[inherit];
}

/* Sidebar */

.header-link {
  @apply text-base font-normal;
}

.header-link a {
  @apply inline-flex gap-2 w-full text-inherit py-[0.4rem] px-0 leading-[1.3] no-underline [unicode-bidi:plaintext];
}

@media (min-width: 50em) {
  .header-link a {
    @apply py-[0.275rem] px-0;
  }
}

.header-link:hover a,
.header-link a:focus {
  @apply hover:text-link-active;
}
.header-link svg {
  @apply opacity-60;
}
.header-link:hover svg {
  @apply opacity-80;
}

/* Add line and padding on the left side */

.header-link.depth-3 {
  @apply ps-4;
}
.header-link.depth-4 {
  @apply ps-8;
}

.current-header-link {
  @apply font-bold;
}

.current-header-link a {
  @apply text-gray-10;
}

/* Code blocks */

.article-content .expressive-code {
  @apply mb-7;
}

/* Supporting content */

.article-content img {
  @apply max-w-full mx-auto py-4 drop-shadow-xl;
}

/* Definition list */

.article-content dt {
  @apply font-semibold mb-4;
}

.article-content dd {
  @apply mb-4 ml-3;
}

/* Screenreader Only Text */

.sr-only {
  @apply absolute w-[1px] h-[1px] p-0 -m-[1px] hidden whitespace-nowrap border-0 [clip:rect(0,0,0,0)];
}

.focus\:not-sr-only:focus,
.focus\:not-sr-only:focus-visible {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

:target {
  scroll-margin: calc(var(--theme-sidebar-offset, 5rem) + 2rem) 0 2rem;
}
