* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/tt_norms_pro_light.woff") format("woff");
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/tt_norms_pro_regular.woff") format("woff");
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/tt_norms_pro_bold.woff") format("woff");
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/tt_norms_pro_medium.woff") format("woff");
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}
