* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/TTNormsPro-Light.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TTNormsPro-Regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/TTNormsPro-Bold.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: TTNormsPro;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/TTNormsPro-Medium.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/IBMPlexMono-Italic.woff2") format("woff2");
  font-display: swap;
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}
