---
import type { ChildLink } from "@utils/helpers/navigation/types";

import "./category-card.css";

interface CategoryCardProps {
  child: ChildLink;
}

const { child } = Astro.props as CategoryCardProps;
---

<div class="category xs:w-full lg:w-[calc(33.3%-8px)] h-auto min-h-[144px]">
  <a href={child.slug}>
    <div
      class="h-full px-4 pt-4 pb-6 justify-center relative rounded-lg border border-card hover:shadow-lg"
    >
      <span class="block font-semibold mb-2">{child.title}</span>
      <div class="font-normal">{child.description}</div>
    </div>
  </a>
</div>
