---
const { title, description, breadcrumbs } = Astro.props;
---

<div class="max-w-[956px]">
  <div class="flex gap-x-5">
    <ul>
      {
        breadcrumbs.map((breadcrumbsItem) => (
          <li>
            <a href={breadcrumbsItem.href} class="text-secondary text-sm">
              {breadcrumbsItem.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <h5 class="text-heading-5 font-semibold text-search-primary">{title}</h5>
  <p class="text-heading-5" text-search-primary>{description}</p>
</div>
