---
interface TopCategoryProps {
  category: {
    title: string;
    icon: string;
    iconAlt: string;
    link: string;
  };
}

const { category } = Astro.props as TopCategoryProps;
---

<div
  class="category flex w-full h-full max-w-[234px] min-h-[235px] border-4 border-[#F4F6F9] rounded-lg cursor-pointer hover:shadow-lg"
>
  <a
    class="flex flex-col w-full hover:text-link-active no-underline"
    href={category.link}
  >
    <div class="flex justify-center items-center min-h-[150px]">
      <div class="flex justify-center items-center h-[111px] w-[111px]">
        <img src={category.icon} alt={category.iconAlt} />
      </div>
    </div>
    <div
      class="flex justify-center items-center grow max-h-[89px] text-heading-3 bg-[#F4F6F9] font-semibold"
    >
      {category.title}
    </div>
  </a>
</div>
