---
interface Props {
  slug: string;
  initialOpen: boolean;
}

const { slug, initialOpen } = Astro.props;
---

<div class="chevron-container">
  <div
    id={`chevron-right-${slug}`}
    class={`toggle-collapse ${initialOpen && "hidden"}`}
  >
    <div class="block align-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
        viewBox="0 0 16 16"
        aria-hidden="true"
        class="Icon__Icon___qSYIn___MTYuMi4w"
        role="img"
        fill-rule="evenodd"
        data-testid="ChevronRight-icon"
        class="w-4 h-4"
        ><path stroke="currentColor" d="M6 12.5L10 8 6 3.5"></path></svg
      >
    </div>
  </div>
  <div
    id={`chevron-down-${slug}`}
    class={`toggle-collapse ${!initialOpen && "hidden"}`}
  >
    <div class="blog align-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
        viewBox="0 0 16 16"
        aria-hidden="true"
        class="Icon__Icon___qSYIn___MTYuMi4w"
        role="img"
        fill-rule="evenodd"
        data-testid="ChevronDown-icon"
        class="h-4 w-4"
        ><path stroke="currentColor" d="M3.5 6L8 10l4.5-4"></path></svg
      >
    </div>
  </div>
</div>
