---
import ChevronRight from "@components/Layout/LeftSidebar/Icons/ChevronRight.astro";
import ChevronDown from "@components/Layout/LeftSidebar/Icons/ChevronDown.astro";

interface Props {
  slug: string;
  initialOpen: boolean;
}

const { slug, initialOpen } = Astro.props;
---

<div class="chevron-container">
  <div
    id={`chevron-right-${slug}`}
    class={`toggle-collapse ${initialOpen ? "hidden" : ""}`}
  >
    <ChevronRight />
  </div>
  <div
    id={`chevron-down-${slug}`}
    class={`toggle-collapse ${!initialOpen ? "hidden" : ""}`}
  >
    <ChevronDown />
  </div>
</div>
