---
import NavigationItem from "@components/Layout/LeftSidebar/LeftSidebarItem.astro";
import type { LanguageTree } from "@utils/helpers/navigation/types";

interface Props {
  currentSlug: string;
  sidebar: LanguageTree;
}

const { currentSlug, sidebar } = Astro.props as Props;
const allItems = [...sidebar.api, ...sidebar.sdk];
---

<nav
  id="sidebar-navigation"
  class="w-[294px] break-words flex flex-col gap-y-[18px] pr-6 text-secondary lg:h-[calc(100%-62px)] lg:pb-6 lg:pl-[18px] lg:pt-0 xs:pt-4 xs:h-full static xs:inset-y-0 xs:left-0 xs:z-30 xs:shadow-right xs:pl-3 lg:shadow-none overflow-y-auto print:hidden sidebar-open:w-full"
>
  {
    allItems.map((child) => (
      <div
        class={`relative flex items-start ${currentSlug === child.slug && "nav_top_category"}`}
      >
        <NavigationItem currentSlug={currentSlug} sidebarData={child} />
      </div>
    ))
  }
</nav>
