---
import AudienceDropdown from "@components/AudienceDropdown.astro";
import AdjustLogo from "@components/Icons/astro/AdjustLogo.astro";
import ApiVersionSwitch from "@components/Version/ApiVersionSwitch";
import SdkVersionSwitch from "@components/Version/SdkVersionSwitch";
import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

interface Props {
  homeUrl: string;
  lang: string;
}

const { homeUrl, lang } = Astro.props;
const t = useTranslations(lang as keyof Locales);
---

<div
  class="flex flex-col items-center pt-7 pl-[27px] sidebar-open:justify-center sidebar-open:mb-5 sidebar-open:pt-[6px] sidebar-open:pl-0"
>
  <div class="flex flex-row items-center">
    <a href={homeUrl} title={t("header.adjust-logo-link-label")}>
      <AdjustLogo />
    </a>
    <AudienceDropdown lang={lang} />
  </div>
  <div>
    {
      Astro.url.pathname.includes("sdk") && (
        <SdkVersionSwitch client:only="react" lang={lang} />
      )
    }
    {
      Astro.url.pathname.includes("api") && (
        <ApiVersionSwitch client:only="react" lang={lang} />
      )
    }
  </div>
</div>
