---
import IconSearch from "@components/Icons/astro/IconSearch.astro";
import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

const currentLang = Astro.currentLocale;

const t = useTranslations(currentLang as keyof Locales);
---

<a
  class="flex items-center border-b-[1px] border-icon-neutral pb-[9px] ml-6 mb-16 min-h-[28px] bg-white text-[15px] w-full max-w-[210px] text-icon-neutral hover:no-underline hover:outline-0 sidebar-open:my-0 sidebar-open:mx-auto"
  href={`/${currentLang}/search`}
>
  <div>
    <IconSearch />
  </div><span>{t("home.search")}</span>
</a>
