.lang-switch-custom {
  display: flex;
  min-height: 28px;
  align-items: center;
  min-width: 90px;
  text-align: right;
  position: relative;
  z-index: 35;
}

.lang-tooltip:after {
  z-index: -10;
  content: "";
  position: absolute;
  bottom: -6px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-top: 0;
  margin-top: -10px;
  box-shadow: 3px 3px -5px -1px #1e3c9611;
  transform: rotate(45deg);
}

.lang-tooltip {
  background-color: #fff;
  right: -15px;
  top: -340px;
  left: 20px;
  line-height: 20px;
  width: 7.25rem;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 #1e3c9622;
}

.lang-tooltip:hover {
  display: block;
}

.lang-tooltip li {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.lang-tooltip a:hover {
  cursor: pointer;
  text-align: left;
  color: #1a62ff;
}

.footer_language-switch:hover {
  & .lang-tooltip {
    display: block;
  }
}

footer .lang-tooltip:after {
  z-index: -10;
  content: "";
  position: absolute;
  bottom: -6px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-top: 0;
  margin-left: -15px;
  margin-top: -10px;
  box-shadow: 3px 3px -5px -1px #1e3c9611;
  transform: rotate(45deg);
}

footer .lang-tooltip {
  background-color: #fff;
  right: -15px;
  top: -340px;
  left: -2px;
  line-height: 20px;
  width: 7.25rem;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 #1e3c9622;
}
