---
import type { MarkdownHeading } from "astro";

import RightSidebar from "@components/RightSidebar/RightSidebar.astro";

type Props = {
  title: string;
  headings: MarkdownHeading[];
};

const { title, headings } = Astro.props;
---

<article id="article" class="article-main w-full">
  <section class="main-section">
    <h1 class="content-title" id="overview">{title}</h1>
    {
      headings.length ? (
        <aside title="Table of Contents">
          <RightSidebar headings={headings} title={title} />
        </aside>
      ) : null
    }
    <div class="article-content">
      <slot />
    </div>
  </section>
</article>
