---
import type { MarkdownHeading } from "astro";
import classNames from "classnames";

import RightSidebar from "../RightSidebar/RightSidebar.astro";
import type { NavigationData } from "@utils/helpers/navigation/types";
import CategoryCard from "@components/Cards/CategoryCard.astro";
import VersionSwitch from "@components/Version/VersionSwitch";

import "./article.css";

type Props = {
  title: string;
  headings: MarkdownHeading[];
  childLinks: NavigationData["childLinks"];
};

const { title, headings, childLinks } = Astro.props;

const sortedLinks = childLinks.sort((a, b) => {
  if (!a.position && !b.position) {
    return 0;
  }
  a.position = Number(a.position) || 0;
  b.position = Number(b.position) || 0;
  return a?.position > b?.position ? 1 : -1;
});
---

<article id="article" class="article-main w-full">
  <section class="main-section">
    <h1 class="text-heading-1 font-bold leading-[1] mb-4" id="overview">
      {title}
    </h1>
    <aside title="Table of Contents">
      <RightSidebar headings={headings} title={title} />
    </aside>
    <div
      class={classNames({ "article-content": !sortedLinks.length })}
      id="article-content"
    >
      <VersionSwitch client:only="react" />
      <slot />
      <!-- Category cards for the entry with "category" type and childs -->
      {
        sortedLinks.length ? (
          <div class="w-full flex flex-wrap gap-x-2 gap-y-4">
            {sortedLinks.map((child) => (
              <CategoryCard child={child} />
            ))}
          </div>
        ) : null
      }
    </div>
  </section>
</article>
