<div id="chevron-down" style="display: block; vertical-align: middle;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="none"
    viewBox="0 0 16 16"
    aria-hidden="true"
    class="Icon__Icon___qSYIn___MTYuMi4w"
    role="img"
    fill-rule="evenodd"
    data-testid="ChevronDown-icon"
    style="width: 16px; height: 16px;"
    ><path stroke="currentColor" d="M3.5 6L8 10l4.5-4"></path></svg
  >
</div>
