<div style="display: inline-flex; vertical-align: middle;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="none"
    viewBox="0 0 16 16"
    aria-hidden="true"
    class="Icon__Icon___qSYIn___MTYuMi4w"
    role="img"
    fill-rule="evenodd"
    data-testid="ChevronRight-icon"
    style="width: 16px; height: 16px;"
    ><path stroke="currentColor" d="M6 12.5L10 8 6 3.5"></path></svg
  >
</div>
