.mobile-sidebar-toggle {
  @media (max-width: 1024px) {
    & header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 1px;
      width: 100%;
      row-gap: 20px;
    }
    & .header-dropdown {
      justify-content: space-between;
      width: 100%;
      padding-right: 22px;
    }
    & .header-links {
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      column-gap: 14px;
    }
    & .header-links_icon {
      display: none;
    }
  }
}
