---
import { useTranslations } from "@i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<button
  type="button"
  class="xs:block lg:hidden top-0 mb-2 z-40 p-0"
  id="menu-toggle"
  aria-label={t("sidebar.toggle-label")}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20px"
    height="20px"
    fill="none"
    viewBox="0 0 20 20"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
  <span class="sr-only">{t("sidebar.toggle-label")}</span>
</button>

<script>
  let sidebarShown = false;

  const toggleSidebar = () => {
    sidebarShown = !sidebarShown;
    const button = document.getElementById("menu-toggle");
    const body = document.querySelector("body");
    if (button && body) {
      button.classList.toggle("bg-secondary", sidebarShown);
      button.classList.toggle("bg-white", !sidebarShown);
      if (sidebarShown) {
        body.classList.add("mobile-sidebar-toggle");
      } else {
        body.classList.remove("mobile-sidebar-toggle");
      }
    }
  };

  const button = document.getElementById("menu-toggle");
  if (button) {
    button.addEventListener("click", toggleSidebar);
  }
</script>
