---
import IconSearch from "@components/Icons/astro/IconSearch.astro";
import { getLanguageFromURL } from "src/languages";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const homeUrl = `${Astro.url.origin}/${currentLang}`;
---

<div class="xs:flex flex-row lg:hidden justify-between items-center p-4">
  <div class="flex flex-row gap-x-8">
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="14"
        fill="none"
        viewBox="0 0 16 14"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
    <a href={homeUrl} class="self-center">
      <img src="/images/Adjust-icon.svg" alt="adjust-icon" />
    </a>
  </div>
  <a href={`${homeUrl}/search`}>
    <IconSearch />
  </a>
</div>
