---
interface Props {
  title: string;
  badge?: string;
}

const { title, badge } = Astro.props;
---

<details class="accordion">
  <summary class="summary">
    <span class="title">{title}</span>
    {badge && <span class="badge">{badge}</span>}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
      aria-label="Expand"
      aria-hidden="true"
      class="chevron dropdown"
      fill-rule="evenodd"
    >
      <path stroke="currentColor" d="M9 18.5l6-6.5-6-6.5"></path>
    </svg>
  </summary>
  <div class="content">
    <slot />
  </div>
</details>

<style>
  .accordion {
    margin-bottom: 1.75rem;
    border-radius: 0.375rem;
    width: 100%;
    cursor: pointer;
    background: var(--color-neutral-5);
  }

  .summary {
    font-weight: 500;
    display: flex;
    overflow: hidden;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    text-overflow: ellipsis;
    margin-bottom: 2px;
  }

  .accordion .title {
    flex: 1 1 0%;
  }

  .accordion .badge {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    background: var(--color-neutral-20);
  }

  .dropdown {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
    --transform-rotate: 0;
  }

  .accordion .content {
    padding-top: 0.25rem;
    background-color: #ffffff;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const detailsElements = document.querySelectorAll("details");

    detailsElements.forEach((details) => {
      const chevron = details.querySelector(".chevron") as HTMLElement;

      details.addEventListener("toggle", () => {
        if (details.open) {
          chevron!.style.transform = "rotate(90deg)";
        } else {
          chevron!.style.transform = "rotate(0deg)";
        }
      });
    });
  });
</script>
