---
import { Banner } from "@adjust/components";
import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

interface Props {
  title?: string;
  type?: CalloutType;
}

const lang = Astro.currentLocale;

const { title, type = "info" } = Astro.props;
const t = useTranslations(lang as keyof Locales);

const typeMap = new Map<CalloutType, BannerKind>([
  ["info", "neutral"],
  ["note", "primary"],
  ["tip", "positive"],
  ["seealso", "positive"],
  ["important", "warning"],
  ["warning", "negative"],
]);

const defaultTypeTitle = t(`callout.${type}`);
const bannerType = typeMap.get(type) || "neutral";
---

<div class="my-7">
  <Banner
    client:only="react"
    title={title || defaultTypeTitle}
    kind={bannerType}
  >
    <slot slot="description" />
  </Banner>
</div>
