---
import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";
import { svgIcons } from "@components/utils/calloutConsts";

interface Props {
  title?: string;
  type?: CalloutType;
}

const { lang } = Astro.params;
const { title, type = "info" } = Astro.props;
const t = useTranslations(lang as keyof Locales);

const defaultTypeTitle = t(`callout.${type}`);

const icon = svgIcons[type] || svgIcons["info"];
---

<div class="my-7">
  <aside role="alert" class=`callout callout-${type}`>
    <div class="leading-none pt-3 pr-3 pb-0 pl-4">
      <div class="inline-flex align-middle"><Fragment set:html={icon} /></div>
    </div>
    <div>
      <div class="flex flex-col flex-grow pt-4 pr-4 pb-2 pl-0">
        <h2 class="mb-2 font-[500] text-[14px] leading-5">
          {title ? title : defaultTypeTitle}
        </h2><slot />
      </div>
    </div>
  </aside>
</div>
