---
import GitHubRender from "@components/GitHubRender.astro";
import type { Lang } from "shiki";

export interface Props {
  lang: Lang;
  name: string;
  link: URL;
}

const { lang, name, link } = Astro.props;
---

<dl class="function">
  <dt class="sig-name descname">
    <span class="pre">{name}</span>
  </dt>
  <dd>
    <slot />
    <GitHubRender link={link} lang={lang} />
  </dd>
  {
    Astro.slots.has("parameters") && (
      <dl>
        <dt class="parameters">Parameters:</dt>
        <slot name="parameters" />
      </dl>
    )
  }
  {
    Astro.slots.has("returns") && (
      <dl>
        <dt class="returnValues">Return values</dt>
        <slot name="returns" />
      </dl>
    )
  }
  <h3>Example</h3>
  <slot name="snippet" />
</dl>
