---
import GitHubRender from "@components/GitHubRender.astro";
import type { Lang } from "shiki";

export interface Props {
  lang: Lang;
  name: string;
  link: URL;
}

const { lang, name, link } = Astro.props;
---

<>
  <h2 class="sig-name descname">
    <span class="pre">{name}</span>
  </h2>
  <slot />
  <GitHubRender link={link} lang={lang} />
  {
    Astro.slots.has("parameters") && (
      <>
        <h3>Parameters</h3>
        <slot name="parameters" />
      </>
    )
  }
  {
    Astro.slots.has("returns") && (
      <>
        <h3>Return values</h3>
        <slot name="returns" />
      </>
    )
  }
  <h3>Example</h3>
  <slot name="snippet" />
</>
