<>
  <slot />
  {
    Astro.slots.has("signature") && (
      <>
        <h3>Signature</h3>
        <slot name="signature" />
      </>
    )
  }
  {
    Astro.slots.has("parameters") && (
      <>
        <h3>Parameters</h3>
        <slot name="parameters" />
      </>
    )
  }
  {
    Astro.slots.has("returns") && (
      <>
        <h3>Return values</h3>
        <slot name="returns" />
      </>
    )
  }
  <h3>Example</h3>
  <slot name="snippet" />
</>
