---
import GitHubRender from "@components/GitHubRender.astro";

interface Parameter {
  parameter: string;
  type?: string;
  interface?: string;
  description: string;
}

interface ReturnValue {
  value: string;
  type?: string;
  interface?: string;
  description: string;
}

export interface Props {
  lang: string;
  name: string;
  link: URL;
  parameters?: Parameter[];
  returns?: ReturnValue[];
}

const {
  lang = "",
  name = "",
  link,
  parameters = null,
  returns = null,
} = Astro.props;
---

<dl class:list="[{lang}," "function"]>
  <dt class="sig-name descname">
    <span class="pre">{name}</span>
  </dt>
  <dd>
    <slot />
    <GitHubRender link={link} lang={lang} />
  </dd>
  {Astro.slots.has("parameters") &&
   <dl>
      <dt class="parameters">Parameters:</dt>
      <slot name="parameters"></slot>
   </dl>
   }
  { Astro.slots.has("returns") &&
   <dl>
      <dt class="returnValues">Return values</dt>
      <slot name="returns"></slot>
   </dl>
   }
  <h3>Example</h3>
  <slot name="snippet"></slot>
</dl>
