---
interface Props {
  type: string;
}

const { type } = Astro.props;
---

<span class="inline-block align-middle">
  <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
    <use href=`#${type}-inline-icon`></use>
  </svg>
</span>
