---
const content = Astro.slots.has("default")
  ? await Astro.slots.render("default")
  : "";

const lists = content.split(/<hr\/?>/);
---

<div class="list-columns">
  {
    lists.map((list) => (
      <div>
        <Fragment set:html={list} />
      </div>
    ))
  }
</div>

<style>
  .list-columns {
    display: grid;
    margin-bottom: 1.75rem;
    grid-auto-flow: row;
    gap: 1.5rem;
  }

  @media (min-width: 1024px) {
    .list-columns {
      grid-auto-flow: column;
    }
  }
</style>
