---
const content = Astro.slots.has("default")
  ? await Astro.slots.render("default")
  : "";

const lists = content.split(/<hr\/?>/);
---

<div class="col-group grid grid-flow-row lg:grid-flow-col gap-6 mb-7">
  {
    lists.map((list) => (
      <div class="column">
        <Fragment set:html={list} />
      </div>
    ))
  }
</div>
