---
import { getCurrentPage } from "@utils/helpers/navigation/getCurrentPage";
import { getBreadcrumbs } from "@utils/helpers/navigation/getBreadcrumbs";

const currentPage = getCurrentPage(Astro.url.pathname);
const breadcrumbs = getBreadcrumbs(currentPage);
const separatorClasses =
  "after:absolute after:content-['•'] after:font-medium after:-top-[5px] after:-right-4 after:text-xl";
---

<div aria-label="breadcrumbs" class="xs:px-8 lg:pr-4 lg:pl-12 mb-8">
  <nav>
    <ul class="flex flex-row flex-wrap gap-x-6 list-none p-0">
      {
        breadcrumbs.map((breadcrumb, i) => (
          <li
            class={`relative leading-none ${
              breadcrumbs.length > 1 &&
              i !== breadcrumbs.length - 1 &&
              separatorClasses
            }`}
          >
            <a
              class={`cursor-pointer text-sm hover:text-link-active ${currentPage === breadcrumb.url && "text-black font-semibold"} ${currentPage !== breadcrumb.url && "text-secondary font-medium"}`}
              href={`/${breadcrumb.url}`}
            >
              {breadcrumb.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
