---
import { v4 as uuidv4 } from "uuid";

interface Props {
  title: string;
  sync?: string;
  icon?: string;
}

const { title, sync, icon } = Astro.props;

const uniqueId = uuidv4();
---

<div
  id={uniqueId}
  title={title}
  role="tabpanel"
  class="tab-content hidden"
  data-type="tab"
  data-sync={sync}
  data-icon={icon ?? "Code"}
>
  <slot />
</div>

<style>
  .hidden {
    display: none;
  }

  .tab-contents {
    margin-top: 1rem;
  }
</style>
