---
import FooterMain from "@components/Layout/Footer/FooterMain.astro";
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import MainHeader from "@components/Layout/Header/MainHeader.astro";
import MobileHeader from "@components/Layout/Header/MobileHeader.astro";
import BodyNoScript from "@components/Layout/GoogleTagManager/BodyNoScript.astro";
import errorAstronaut from "@images/errorAstronaut.svg";
import { useTranslations } from "@i18n/utils";
const currentLang = Astro.currentLocale || "en";
import { marked } from "marked";
import { KNOWN_LANGUAGE_CODES, type Locales } from "@i18n/locales";

const t = useTranslations(currentLang as keyof Locales);

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

export const getStaticPaths = () => {
  return KNOWN_LANGUAGE_CODES.flatMap((langKey) => ({
    params: { lang: langKey },
  }));
};
---

<head>
  <HeadCommon />
  <HeadSEO canonicalUrl={canonicalURL} />
  <title>{t("site.title")}</title>
</head>
<body class="font-body xs:w-full xxl:w-[1600px] mx-auto bg-body-main">
  <BodyNoScript />
  <MainHeader />
  <MobileHeader />
  <main class="bg-white xxl:overflow-hidden xxl:h-full">
    <div class="flex flex-col justify-between w-full mb-14 relative">
      <div class="pt-4 flex justify-center flex-col">
        <div class="w-full md:min-h-[37.5rem] relative">
          <img src={errorAstronaut.src} class="mx-auto" />
        </div>
        <p class="self-center md:-mt-[7.5rem]">
          <span
            class="font-semibold xs:text-5xl md:text-[8.125rem] md:leading-[inherit] text-[rgb(11_88_254/1)]"
            >500</span
          >
        </p>
        <h3 class="text-base text-center">{t("page-500.header")}</h3>
        <div class="text-base text-center px-4">
          <span set:html={marked.parse(t("page-500.first-line"))} />
        </div>
      </div>
    </div>
  </main>
  <FooterMain language={currentLang as string} />
</body>

<style>
  a {
    @apply text-link-active underline;
  }
</style>
