---
export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "ja", version: "v2" } },
  ];
}

const { lang, version } = Astro.params;
---

<head> </head>

<body>
  <div>Hi there in lang index</div>
</body>
