---
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import { SITE } from "src/consts";

export const getStaticPaths = () => {
  return [{ params: { lang: "en" } }, { params: { lang: "ja" } }];
};

const { lang } = Astro.params;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO canonicalUrl={canonicalURL} />
    <title>
      {`Search | ${SITE.title}`}
    </title>
  </head>
  <body>
    <header></header>
    <main
      class="font-body xs:w-full xxl:w-[1600px] flex flex-col mx-auto p-0 justify-center items-center"
    >
      Search page placeholder
    </main>
  </body>
</html>
