---

console.log(Astro.props);

let content = "";

if (Astro.slots.has("default")) {
  content = await Astro.slots.render("default");
}

---


<div>
  <Fragment set:html={content} slot="content" />
</div>
