---
import { HELP_CENTER_LINK } from "src/consts";
import type { IWithLanguage } from "src/types/WithLanguage";
import type { Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

const { language, contentLevel } = Astro.props as IWithLanguage;
const t = useTranslations(language as keyof Locales);
---

<a
  href={`${HELP_CENTER_LINK}${language}/support`}
  class="footer-link flex items-center justify-center px-3 min-h-[39px] text-white bg-link-active rounded-[7.5px] border-2 border-white cursor-pointer min-w-[206px] text-[17px] font-medium hover:bg-[#324ed9]"
>
  {contentLevel ? t("footer.contact-us") : t("footer.contact-support")}
</a>
