.footer-link > span {
  background: linear-gradient(0deg, #04182b, #04182b) no-repeat 100% 100%/0
    0.0625rem;
  transition: background-size 0.35s;
  padding-bottom: 0.125rem;
  &:hover {
    background-size: 100% 0.0625rem;
    background-position-x: left;
  }
}

.footer_language-switch:hover {
  & .lang-tooltip {
    display: block;
  }
}

.footer_language-switch #current-lang {
  font-weight: 500;
}
