.footer-link > span {
  background: linear-gradient(0deg, #04182b, #04182b) no-repeat 100% 100%/0
    0.0625rem;
  transition: background-size 0.35s;
  padding-bottom: 0.125rem;
  &:hover {
    background-size: 100% 0.0625rem;
    background-position-x: left;
  }
}
