---
import { getLanguageFromURL, LOCALE_NAMES } from "@i18n/locales";
import LanguageSwitch from "../LanguageSwitch";
import { Icon } from "@adjust/components";

const currentPage = Astro.url.pathname;
const currentLang = getLanguageFromURL(currentPage);
---

<div
  class="[&_#current-lang]:font-medium min-h-[36px] bg-white flex text-black items-center rounded-md border-[2px] border-solid border-[#000] relative min-w-[107px] xs:mb-4 md:mb-0 hover:cursor-pointer"
>
  <LanguageSwitch
    client:only="react"
    lang={currentLang}
    locales={LOCALE_NAMES}
    currentUrl={currentPage}
    hideIcon
    isFooter
  />
  <Icon
    client:only="react"
    name="ChevronDown"
    css={{ position: "absolute", right: "10px", top: "5px" }}
  />
</div>
