.mobile-sidebar-toggle {
  @media (max-width: 1024px) {
    & .sidebar-wrapper {
      display: flex;
    }
    & .sidebar-header {
      justify-content: center;
      margin-bottom: 20px;
      padding-top: 6px;
      padding-left: 0;
    }
    & .sidebar-search {
      margin: 0 auto;
    }
    & .sidebar-navigation {
      width: 100%;
    }
    & .article-main {
      display: none;
    }
  }
}
