name: Check broken links
on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    # Run every Wednesday at 10AM
    - cron: "0 10 * * 3"
  workflow_dispatch:
jobs:
  check-links:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Lychee Broken Link Checker
      uses: lycheeverse/lychee-action@v1.8.0
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        args: --exclude-mail --base './docs' './docs/**/*.md'
        fail: true
    - name: Create issue to fix broken links
    # Don't run this step for pull requests. We don't want to generate an issue every time!
      if: ${{ env.lychee_exit_code != 0 && github.event_name == 'pull_request' }}
      uses: peter-evans/create-issue-from-file@v4
      with:
        title: Link Checker Report
        content-filepath: ./lychee/out.md
        labels: report, automated issue
