name: Check broken links
on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:
jobs:
  check-links:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Waiting for 200 from the Vercel Preview
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.1
        id: waitForVercel
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check_interval: 60
          allow_inactive: true
          environment: Preview
          max_timeout: 360
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Check for broken links
        if: steps.waitForVercel.outputs.url
        uses: lycheeverse/lychee-action@v1.8.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          args: --max-redirects 10 --exclude-mail --base https://${{ steps.waitForVercel.outputs.url }} './src/content/docs/en/**/*.mdx'
          fail: true
  check-live-links:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Lychee Broken Link Checker
        if: github.ref == 'refs/heads/main'
        uses: lycheeverse/lychee-action@v1.8.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          args: --max-redirects 10 --exclude-mail --base https://dev.adjust.com './src/content/docs/en/**/*.mdx'
          fail: true
      - name: Create issue to fix broken links
        # Don't run this step for pull requests. We don't want to generate an issue every time!
        if: ${{ failure() && env.lychee_exit_code != 0 && github.event_name != 'pull_request' }}
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
